
label {
    letter-spacing:1px;
    font-size:13px;
    font-family:'Lucida Sans Regular';
    color:whitesmoke;
    margin-top:20px;
	margin-left:50px;
}

.principal {
    display:block;
    margin:0 auto;
    width:350px;
    left:300px;
    color: #252525;
    font-family: 'Lucida Sans';
    font-size:15px;
    
}

form {
    margin:0 auto;
    widows: 700px;
    height: 550px;
    font-size:13px;
    color:#000000;
    border:solid 5px #252525;
   	background-color:rgb(56, 56, 56);
    border-radius: 10px;
    
}

input:hover {
    outline: 1px solid #0a858a;
  
}

textarea:hover {
    outline: 1px solid #0a858a;
}

input, textarea {
    color:#000000;
    width:200px;
    height:13px;
    background:rgb(56, 56, 56);
    border:1px solid #252525;
    padding:10px;
	margin-left: 40px;
    margin-top:10px;
    font-size:13px;
}

textarea {
    height:100px;
	max-height:100px;
	min-height:100px;
	max-width:250px;
	min-width:250px;
}

.enviar {
	display: block;
	height: 40px;
    color:#fff;
	font-size: 15px;
    cursor:pointer;
    background-color:rgb(92, 92, 92);
    margin:0 auto;
    border-radius:25px;
}
.enviar:hover{
    background-color:rgb(4, 81, 83);
}

.borrar {
	display: block;
	height: 40px;
	font-size: 13px;
    cursor:pointer;
    margin:0 auto;
    color: whitesmoke;
    border-radius:25px;
    margin-top: 20px;
    
}



