* {
    margin: 0;
    padding: 0;
}

/*Cuerpo de la pagina  ------------*/
body{
	font-size:18px;
    background-image: url("../imagenes/fondo1.jpg");
	
}

p{
	font-family: 'Roboto';
	text-align: justify;
	color:whitesmoke;
	margin: 90px 90px;
	line-height: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	
}


/*Titulos  ------------*/
h1 {
    border: 0;
	display: block;
	margin-top: 0;
	margin-bottom: 70px;
    margin:0 auto;
	color:white;
	font-family: 'Gill Sans';
	font-size: 40px;
}
h2 {
    border: 0;
	display: block;
	margin-top: 50px;
	margin-bottom: 0px;
	color:white;
	font-family: 'Open Sans';
}
h3 {
    display: block;
	color:white;
	margin-top: 15px;
	margin-bottom: 0px;
	font-family: 'Open Sans';
}
hr {
	text-align: center;
	width: 50%;
	margin:0 auto;
	display: block;
}

/*Encabezado  ------------*/

header{
	background-image: url("../imagenes/encabezado1.jpg");
	margin: 0;
	width: 100%;
	height: 55%;
	border-radius: 20px;
	
}

header h1{
	padding-top:60px;
	padding-bottom:80px;
	color: whitesmoke;
}


/*Acomodar ------------*/
.bajar{
	padding-top: 60px;
}

.subir{
	padding-top: 0px;
}
.espacio{
	display: inline-block;
	margin:0px 15px 0px 15px;
}
.centrar{
	text-align: center;
}
.izquierda{
	text-align: justify;	
}
.titulo1{
	letter-spacing: 12px;
} 
.contenedor{
	width: 80%;
	margin: 0 auto;
	background-color:#395f5f;	
	border-radius: 30px;
}


/*Diseno del boton  ------------*/
.boton{
	margin:0px;
	padding:0px;
	list-style: none;
}
.boton li a {
	display:block;
	margin:0 auto;
	width: 10em;
	color:black;
	line-height: 2em;
	font-size: 1em;
	text-decoration: none;
	background: #fff;
	border-radius: 24px;
}
.boton li a:hover, li a:focus{
	background:#0d3838;
	color:#fff;
  }
  

/*Efectos para imagenes   ------------*/
.imaefecto{
	transition: all 5s ease 0s; 
	cursor: pointer;
	opacity: 0.5;
}
.imaefecto:hover{
	cursor: pointer;
	opacity: 1;
	transform: scale(1.5);
	transition: all .5s ease 0s;
}
.imagen2 img{
	border-radius: 30%;
}
.imagen3 {
	border-radius: 20%;
}

/*Modificar Tabla para alojamiento*/

table, th, td {
	border: 2px solid whitesmoke;
	padding: 2px;
	margin:0 auto;
	margin-top: 0px; 
	font-family: 'Lucida Sans';
  }
  table {
	border-spacing: 5px;
	border-radius: 2%;
  }
  
  .encabezado{
	  background-color:#043030;
	  font-size:20px;
	  font-family: 'Lucida Sans';
	  color:#fff;
  }
  .fila{
	  background-color:#ECD3ED;
  }
  

  /*Modificar Tabla para recomendaciones*/

.tabla1 {
	font-size:18px;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	border-color:#395f5f;
	vertical-align: top;
}
.columnas{
	column-count: 4;
	margin: 50px 50px;
}
.columnas2{
	column-count: 2;
	margin: 10px;
}
.achicar{
	width: 60%;
	margin-left: 20%;
}
.parrafo{
		font-family: 'Roboto';
		text-align: justify;
		color:whitesmoke;
		margin: 10px 10px;
		line-height: 30px;
		margin-top:20px;
		margin-bottom:20px;

}

.cajatexto{
	
		width: 40%; 
		margin:0 auto;
		background: #044b4b; 
		margin-top:110px;
		border-radius: 5%;
		padding: 30px;
		box-shadow: 1px -1px 39px rgba(0, 0, 0, 0.5) inset; 
		-webkit-box-shadow: 1px -1px 39px rgba(0, 0, 0, 0.5) inset; 
		-moz-box-shadow: 1px -1px 39px rgba(0, 0, 0, 0.5) inset; 

}


/*Pie de pagina  ------------*/
footer{
	background-image: url("../imagenes/encabezado1.jpg");
	background-position:center;
	width: 100%;
	height: 30%;
	border-radius: 20px;
}
footer h2{
	padding-top:40px;
	padding-bottom:40px;
	font-size:15px;
	color:whitesmoke;
	text-align:center;
	letter-spacing: 8px;
}

