nav{
	width: 70%;
	
	margin: 0 auto;
  transition: all 0.3s ease-in-out 0s;
}
ul{
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#menu{
  position: absolute; 
  z-index: 100;
}

#menu li>a{
  background-color: rgb(56, 56, 56);
  color: white;
  padding: 10px;
  font-size: 15px;
  display: block;
  text-decoration: none;
  min-width: 100px;
  
 }

 #menu li>a:hover{
  color: whitesmoke;
  background-color:rgb(8, 63, 60);
  transition: all 0.3 ease-in-out 0s;
 }
#menu>li{
  float: left;
  text-align:center;

}
#menu>li>ul{
  display: none;
  text-decoration-line: underline;
  
}
#menu>li:hover>ul {
  display:block;
  
}
